.about-section {
    align-items: flex-start;
  display: flex;
  gap: 60px;
  padding: 80px 70px;
  font-family: "Poppins", sans-serif;
  background: #ffffff;
}



.about-section{
  align-items:flex-start;
}

.lead-form{
  align-self:flex-start;
}

/* LEFT SIDE */
.about-left {
  flex: 1.3;
}

.about-left h2 {
  font-size: 34px;
  margin-bottom: 25px;
  color: #111;
}

.about-left p {
  font-size: 15px;
  line-height: 1.9;
  color: #444;
  margin-bottom: 18px;
}

.link {
  color: #1d4ed8;
  font-weight: 600;
  cursor: pointer;
}

.about-buttons {
  margin-top: 25px;
  display: flex;
  gap: 12px;
}

.btn-primary {
  background: #0ea5e9;
  border: none;
  color: white;
  padding: 12px 22px;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
}

.btn-secondary {
  background: #2563eb;
  border: none;
  color: white;
  padding: 12px 22px;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
}

/* RIGHT FORM */
.lead-form {
  flex: 1;
  background: #123c7a;
  padding: 35px 30px;
  border-radius: 12px;
  color: white;
  box-shadow: 0 15px 35px rgba(0,0,0,0.2);
}

.lead-form h3 {
  text-align: center;
  font-size: 22px;
  line-height: 1.5;
  margin-bottom: 25px;
}

.lead-form form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.lead-form input,
.lead-form select,
.lead-form textarea {
  padding: 12px;
  border-radius: 6px;
  border: none;
  font-size: 14px;
  outline: none;
}

.lead-form textarea {
  resize: none;
  height: 90px;
}

.submit-btn {
  margin-top: 10px;
  background: white;
  color: #123c7a;
  border: none;
  padding: 12px;
  border-radius: 6px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}

.submit-btn:hover {
  background: #e5e7eb;
}

/* RESPONSIVE */
@media (max-width: 900px) {
  .about-section {
    flex-direction: column;
    padding: 60px 25px;
  }
}
