* {
  box-sizing: border-box;
}

.navbar {
  font-family: "Segoe UI", sans-serif;
  background: #ffffff;
  border-bottom: 1px solid #e5e7eb;
}

/* ===== TOP BAR ===== */
.navbar-top {
  display: flex;
  justify-content: flex-end;
  padding: 8px 60px;
  font-size: 13px;
  color: #6b7280;
}

.top-links a {
  color: #6b7280;
  text-decoration: none;
  margin: 0 6px;
}

.top-links span {
  color: #9ca3af;
}

.top-contact {
  font-weight: 500;
}

/* ===== MAIN NAV ===== */
.navbar-main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 60px;
}

.logo img {
  height: 55px;
}

/* MENU */
.menu {
  display: flex;
  gap: 0px;
}

.menu a {
  text-decoration: none;
  font-size: 14px;
  color: #0f172a;
  font-weight: 600;
  padding: 8px 14px;
  border-radius: 6px;
  transition: all 0.3s ease;
}

.menu a:hover {
  background: #f1f5f9;
}

.menu .active {
  background: #0b1c4d;
  color: #ffffff;
}

/* RIGHT SIDE */
.nav-right {
  display: flex;
  align-items: center;
  gap: 18px;
}

.socials i {
  font-size: 14px;
  color: #374151;
  margin: 0 6px;
  cursor: pointer;
}

.socials i:hover {
  color: #2563eb;
}

/* BUTTON */
.seo-btn {
  background: #2563eb;
  color: #ffffff;
  border: none;
  padding: 10px 18px;
  border-radius: 6px;
  font-size: 13px;
  font-weight: 600;
  cursor: pointer;
}

.seo-btn:hover {
  background: #1d4ed8;
}
